/*page_about*/
.page_vacs {background: #fff; padding-top: 225px; padding-bottom: 125px;
    &-ttl { font-size: 48px; padding-left: 100px; line-height: 1.29; margin-bottom: 50px; } 
    &-links {    margin-right: 50px;}
    &-tab { font-size: 30px; color: #345e94; opacity: 0.5; line-height: 1.29; margin-bottom: 51px; cursor: pointer;
        &:last-child { margin-bottom: 0; } 
        &.active { opacity: 1; } 
    } 
    &-cont { margin-top: 0; overflow: hidden; height: 0px; 
        &.active { height: auto;margin-top: 114px; }
    }
}
/*page_about*/
@media(max-width: 1600px) and (min-width: 992px){
    .page_vacs2 {
        &-ttl {padding-left: 50px;}
    }
}
@media(max-width: 991px) and (min-width: 768px){
    .page_vacs {
        &-ttl { padding-left: 0px; }
    }
}
@media(max-width: 767px){
    .page_vacs{padding-top: 125px; padding-bottom: 75px;
        &-ttl { padding: 0 7px; }  
        .page_vacs-tab { font-size: 20px; margin-bottom: 25px; } 
        .page_vacs-cont { overflow: hidden; 
            &.active {margin-top: 69px;}
            .lSSlideOuter { max-width: 256px; overflow: visible; padding: 0!important; } 
            .lSSlideWrapper { overflow: visible; padding: 0!important; }
        } 
    }
}