/*page_vacs2*/
.page_vacs2 {background: #fff; padding-top: 225px; padding-bottom: 125px;
    &-ttl { font-size: 48px; padding-left: 100px; line-height: 1.29; margin-bottom: 50px; } 
    &-bl{ max-width: 512px; margin-left: 100px; margin-bottom: 89px;
        &-img {min-height: 328px; width: 100%; background: #ddd;display:block;
            &:hover, &:focus {text-decoration:none;color:#000;}
        }
        &-ttl { margin-top: 53px; font-size: 30px; display:block; color: #000; padding-right: 20px; position: relative;
            &:hover, &:focus {text-decoration:none;color:#000;
                &:after {content: '';background: url('../img/plus_black.svg');background-size: 100% 100%;width: 13px;height: 13px;position: absolute;right: 0;top: 50%;margin-top: -13px;}
            }
        } 
        &-txt { margin-top: 27px; color: #373737; line-height: 1.46; font-size: 20px;display:block; padding-right: 20px; position: relative;
            p { margin: 0 0 35px; 
                &.quote { border-left: 1px solid #345e94; margin: 30px 0; padding: 20px 0; padding-left: 38px; } 
            }
        }
    }
    &-links { overflow: hidden; max-width: 512px;
        &-proj { display: block; float: left; font-size: 30px; color: #345e94; opacity: 0.5; margin-right: 20px; } 
        &-vac { display: block; float: right; font-size: 30px; color: #000; }
    }
    &-right { margin-top: 53px;}
    &-vacs { max-width: 512px; margin-top: 60px; overflow: hidden; } 
    &-burger { margin-bottom: 35px; padding-bottom: 35px; border-bottom: 1px solid #00000080; height: 62px; overflow: hidden; cursor: pointer;
        &-ttl { font-size: 20px; position: relative; 
            &:after { content: ''; width: 12px; height: 12px; display: block; position: absolute; right: 0; top: 50%; margin-top: -6px; background: url('../img/burg-arr.svg')no-repeat 50% 50%; background-size: 100% auto; @include trans(0.3s);} 
        } 
        &-txt { font-size: 20px; margin-top: 25px; } 
        &-rez { display: block; float: left; font-size: 30px; color: #345e94; opacity: 0.5; margin-right: 20px; margin-top: 30px; }
        &.opened { height: auto; 
            .page_vacs2-burger-ttl{
                &:after {transform: rotate(-180deg);@include trans(0.3s);}
            }
        }
    } 
}
/*page_vacs2*/
@media(max-width: 1600px) and (min-width: 992px){
    .page_vacs2 {
        &-ttl {padding-left: 50px;}
        &-bl {margin-left: 50px;margin-right: 50px;}
    }
}
@media(max-width: 767px){
    .page_vacs2{padding-top: 125px; padding-bottom: 75px;
        &-ttl { padding: 0 7px; font-size: 30px; position: relative; 
            &:before { content: ''; position: absolute; display: block; width: 12px; height: 6px; background: url('../img/arr-mob.svg'); background-size: 12px 6px; right: 0; top: 50%; margin-top: -3px; }
        } 
        &-cont { padding: 50px 7px 0; 
            .col-12 { padding: 0; }
        }  
        &-bl {max-width: 325px; margin: 0 auto 59px;}
        &-right {}
        &-links {
            &-proj { font-size: 20px; } 
            &-vac { font-size: 20px; }            
        }
    }
}