/*page_vacs*/
.page_vacs {background: #fff; padding-top: 225px; padding-bottom: 125px;
    &-ttl { font-size: 48px; padding-left: 100px; line-height: 1.29; margin-bottom: 50px; } 
    &-links {    margin-right: 50px;}
    &-tab { font-size: 30px; color: #345e94; opacity: 0.5; line-height: 1.29; margin-bottom: 51px; cursor: pointer;
        &:last-child { margin-bottom: 0; } 
        &.active { opacity: 1; } 
    } 
    &-cont { margin-top: 0; overflow: hidden; height: 0px; 
        &.active { height: auto;margin-top: 114px; }
    }
    .slider-docs{
        &-bl { display: block; max-width: 256px; margin: 0 auto; color: #000; position: relative;
            &-img { display: block; overflow: hidden; border-radius: 8px; box-shadow: 0 16px 48px 0 rgba(0, 0, 0, 0.1); } 
            &-ttl { font-size: 30px; margin-top: 35px; display: block; } 
            &-txt { display: block; margin-top: 35px; opacity: 0.5;} 
            &:hover, &:focus { color: #000; text-decoration: none; 
                &:after {content: '+'; opacity: 0.5; display: block; position: absolute; right: 0; bottom: 0; color: #000; font-size: 25px; line-height: 1;}
            }  
        }       
    }
}
/*page_vacs*/
@media(max-width: 1600px) and (min-width: 992px){
    .page_vacs2 {
        &-ttl {padding-left: 50px;}
    }
}
@media(max-width: 991px) and (min-width: 768px){
    .page_vacs {
        &-ttl { padding-left: 0px; }
    }
}
@media(max-width: 767px){
    .page_vacs{padding-top: 125px; padding-bottom: 75px;
        &-ttl { padding: 0 7px; font-size: 30px; position: relative; 
            &:before { content: ''; position: absolute; display: block; width: 12px; height: 6px; background: url('../img/arr-mob.svg'); background-size: 12px 6px; right: 0; top: 50%; margin-top: -3px; }
        }  
        .page_vacs-tab { font-size: 20px; margin-bottom: 25px; } 
        .page_vacs-cont { overflow: hidden; 
            &.active {margin-top: 69px;}
            .lSSlideOuter { max-width: 256px; overflow: visible; padding: 0!important; } 
            .lSSlideWrapper { overflow: visible; padding: 0!important; }
        }
        .slider-docs{
            &-bl { margin: 0;}       
        }        
    }
}