/*page_catalog*/
.page_catalog {background: #fff; padding-top: 225px; padding-bottom: 125px;
    &-ttl { font-size: 48px; line-height: 1.29; } 
    &-cont { padding-top: 50px; display: none; 
        &.active {display: block;}
    }
    &-bl{ max-width: 296px; margin: 0 auto;
        &-img {min-height: 192px; width: 100%; background: #ddd;display:block;
            &:hover, &:focus {text-decoration:none;color:#000;}
        }
        &-ttl { margin-top: 35px; font-size: 20px; display:block; color: #000; padding-right: 20px; position: relative;
            &:hover, &:focus {text-decoration:none;color:#000;
                &:after {content: '';background: url('../img/plus_black.svg');background-size: 100% 100%;width: 13px;height: 13px;position: absolute;right: 0;top: 50%;margin-top: -13px;}
            }
        } 
        &-txt { margin-top: 27px; color: #373737; line-height: 1.46; margin-bottom: 48px; font-size: 14px;display:block;
            &:hover, &:focus {text-decoration:none;color:#000;}
        }
    }
    &-right {
        &-bl { color: #345e94; padding: 0 5vw; ; line-height: 1.6; opacity: 1;margin-bottom: 64px; display: block; position: relative;opacity: 0.5; cursor: pointer;
            &:hover, &:focus {color: #345e94;text-decoration: none;}
            sup {font-size: 16px;display: inline-block; vertical-align: top; top: 0;}
            span { display: inline-block; vertical-align: top; }
            &:after {content: '';background: url('../img/plus_blue.svg');background-size: 100% 100%;width: 13px;height: 13px;position: absolute;right: 100px;top: 50%;margin-top: -13px;display: none;}
            &.active {opacity: 1;
                &:after {display: block;}
            }
        }
    }
}
/*page_catalog*/
@media(max-width: 991px) and (min-width: 768px){
    .page_catalog{
        &-ttl {padding-left: 14px;}
        &-right-bl { padding: 15px;
            &:after {right: 15px;}
        }
    }
}
@media(max-width: 767px){
    .page_catalog{
        &-ttl { padding: 0 7px; font-size: 30px; position: relative; 
            &:before { content: ''; position: absolute; display: block; width: 12px; height: 6px; background: url('../img/arr-mob.svg'); background-size: 12px 6px; right: 0; top: 50%; margin-top: -3px; }
        } 
        &-cont { padding: 20px 7px 0; 
            .col-12 { padding: 0; }
        }  
        &-bl { max-width: 320px; }
        &-right {margin-top: 60px;
            &-bl { padding: 0 12px; margin-bottom: 20px;  padding-right: 80px;
                 sup { position: absolute; right: 60px; font-size: 13px;}
                &.active:after {display: none;}
            }
        }
    }
}