/*page_pers*/
.page_pers{background: #fff; padding-top: 225px; padding-bottom: 125px;
    &-left { padding-left: 100px; 
        &-ttl { padding: 10px 0; padding-left: 28px; background: url(../img/user_black.svg)no-repeat 0% 50%; background-size: 15px 14px; } 
        &-menu { margin-top: 167px; 
            ul { list-style: none; padding: 0; margin: 0;  
                li {
                    a {color: #345e94;margin-bottom: 65px;font-size: 30px;display: block;opacity: 0.5;
                        &.active { opacity: 1; }
                        &:hover, &:focus {text-decoration: none;color: #345e94;}
                    }
                } 
            }    
        } 
    }
    &-right {margin-right: 100px;
        &-cont {}
        &-bl {margin-bottom: 53px; 
            &-input { display: block; width: 100%; border: 0; margin-top: 7px; color: #345e94; font-size: 30px; border-bottom: 1px solid #345e9480; padding-bottom: 7px;  
                &:focus {box-shadow: none; outline: 0;}
            }
            &-btn { display: inline-block; width: 49%; border: 0; background: none; margin-top: 20px; color: #000; border-bottom: 1px solid transparent; padding-bottom: 20px; 
                &.active {color: #345e94; border-bottom: 1px solid #345e9480;}
                &:focus {box-shadow: none; outline: 0;}
            }
        } 
    }
}
/*page_pers*/

@media(max-width: 1600px) and (min-width: 992px) {
    .page_pers{
        &-left { padding-left: 50px;}
        &-right {margin-right: 50px;}
    }                                                            
}
@media(max-width: 1199px) and (min-width: 992px) {
    .page_pers-left-menu ul li a {margin-bottom: 50px; font-size: 22px; }
}
@media(max-width: 991px) and (min-width: 768px) {
    .page_pers {
        &-left {padding-left: 7px;}
        &-right {margin-right: 7px;}
    }
}
@media(max-width: 767px) {
    .page_pers{padding-top: 127px;
        &-left { padding: 7px;
            &-menu {margin-top: 61px; overflow-x: auto; max-width: 100%;
                ul { width: 530px;
                    li {display: inline-block; margin-right: 20px;
                        a {font-size: 20px; margin-bottom: 30px;}
                    } 
                }            
            }
        }
        &-right {margin: 7px;}
    }                                                            
}