/*page_pers*/
.page_pers{background: #fff; padding-top: 225px; padding-bottom: 125px;
    &-sub_menu {
        ul { list-style: none; margin: 0; padding: 0; 
            li { display: inline-block; margin-bottom: 15px; 
                a {display: block;padding: 2px 33px 13px;border-bottom: 1px solid transparent;color: #345e9480;
                    &.active { border-bottom: 1px solid #345e94; color: #345e94; }
                    &:hover, &:focus {text-decoration: none;}
                } 
            } 
        } 
    }
    &-left { padding-left: 100px; 
        &-ttl { padding: 10px 0; padding-left: 28px; background: url(../img/user_black.svg)no-repeat 0% 50%; background-size: 15px 14px; } 
        &-menu { margin-top: 167px; 
            ul { list-style: none; padding: 0; margin: 0;  
                li {
                    a {color: #345e94;margin-bottom: 65px;font-size: 30px;display: block;opacity: 0.5;
                        &.active { opacity: 1; }
                        &:hover, &:focus {text-decoration: none;color: #345e94;}
                    }
                } 
            }    
        } 
    }
    &-middle { margin-top: 167px;  
        &-menu { margin-top: 17px; 
            ul { margin: 0; padding: 0; list-style: none; 
                li {
                    a { display: block; color: #345e94; opacity: 0.5; font-size: 20px; margin-bottom: 22px; 
                        &:hover, &:focus { box-shadow: none; outline: 0; } 
                        &.active { opacity: 1; } 
                    } 
                } 
            } 
        }                             
    }    
    &-graph { margin-top: 167px; 
        &-menu { padding: 49px 0 5px; list-style: none;margin: 0; position: relative; overflow: hidden;
            &:before {content: ''; width: 1px; background: #345e94; height: 100%; position: absolute; display: block; bottom: 0; left: 7px; margin: 0 0; opacity: 0.5;}
            li {position: relative; height: 62px;
                a { display: block; width: 15px; height: 15px; background: transparent; border: 1px solid transparent; border-radius: 50%; 
                    &:before {content: '';width: 5px;height: 5px;background: #345e94;border-radius: 50%;display: block; margin: 4px;}
                    span {position: absolute; top: -5px; color: #345e94; left: 24px;}
                }
                &.active {
                    &:before { content: ''; width: 1px; background: #345e94; height: 100vh; position: absolute; display: block; bottom: 61px; left: 7px; margin: 0 0; }
                    a {background: #fff; border: 1px solid #345e94;
                        &:after {content: ''; display: block; width: 10px; height: 18px; background: url('../img/graph_menu.png'); left: 0; right: 0; margin: 0 auto;}    
                    }
                }            
            }
        }        
    }     
    &-right {margin-right: 100px;
        &-cont {
            &.proj {margin-top: 167px;}
        }
        &-bl {margin-bottom: 53px; 
            &-input { display: block; width: 100%; border: 0; margin-top: 7px; color: #345e94; font-size: 30px; border-bottom: 1px solid #345e9480; padding-bottom: 7px;  
                &:focus {box-shadow: none; outline: 0;}
                &::-webkit-input-placeholder {color:#345e94;opacity: 0.5;}
                &::-moz-placeholder          {color:#345e94;opacity: 0.5;}
                &:-moz-placeholder           {color:#345e94;opacity: 0.5;}
                &:-ms-input-placeholder      {color:#345e94;opacity: 0.5;}                
            }
            &-btn { display: inline-block; width: 49%; border: 0; background: none; margin-top: 20px; color: #000; border-bottom: 1px solid transparent; padding-bottom: 20px; 
                &.active {color: #345e94; border-bottom: 1px solid #345e9480;}
                &:focus {box-shadow: none; outline: 0;}
            }
            &.phone { margin: 65px 0; 
                .page_pers-right-bl-input { border-bottom: 0; }
            }
        } 
        &-doc {margin-bottom: 53px; border-bottom: 1px solid #00000080; padding-bottom: 20px;
            &-ttl {
                 span { border-radius: 16px; border: 1px solid #0003; padding: 5px 10px; margin-left: 10px; }
            }
            &-cont { position: relative; } 
            &-clear { background: none; border: 0; color: #345e94; font-size: 20px; position: absolute; right: 0; top: 50%; margin-top: -16px; }
            &-input { display: block; width: 100%; border: 0; margin-top: 7px; color: #345e94; font-size: 30px; border-bottom: 1px solid #345e9480; padding-bottom: 7px;  
                &:focus {box-shadow: none; outline: 0;}
                &::-webkit-input-placeholder {color:#345e94;opacity: 0.5;}
                &::-moz-placeholder          {color:#345e94;opacity: 0.5;}
                &:-moz-placeholder           {color:#345e94;opacity: 0.5;}
                &:-ms-input-placeholder      {color:#345e94;opacity: 0.5;}                
            }
            &-file { display: none; }
            &-lbl { color: #345e94; font-size: 30px; display: block; margin-top: 10px; text-decoration: underline; }
            &-new { opacity: 0.4; }
            &-btn { display: inline-block; border: 0; background: url('../img/upl.svg')no-repeat 0% 50%; background-size: 19px 16px; margin-top: 44px; color: #000; padding-left: 31px; text-align: left;
                &:focus {box-shadow: none; outline: 0;}
            }
            &.phone { margin: 65px 0; 
                .page_pers-right-bl-input { border-bottom: 0; }
            }
        }   
        &-contacts {margin-bottom: 53px; border-bottom: 1px solid #00000080; padding-bottom: 20px;
            &-ttl {margin-top: 20px;}
            &-lbl { color: #345e94; font-size: 30px; display: block; margin-top: 10px; }
            &-data {margin-top: 20px;
                span {margin-right: 15px;}
            }
            &-see { color: #345e94; opacity: 0.5; 
                &:hover, &:focus { text-decoration: none; opacity: 1; color: #345e94; }
            }
        }
        &-photo {margin-bottom: 33px;
            &-bl {padding-bottom: 20px;border-bottom: 1px solid #00000080;
                &-ttl { color: #345e94; font-size: 30px; }
                &-txt { margin-top: 17px; } 
            }  
            &-sl { margin-top: 36px; 
                .lSSlideOuter { padding: 0!important; } 
                .lSSlideWrapper { padding: 0; }             
            } 
            
        }
    }
}
/*page_pers*/

@media(max-width: 1600px) and (min-width: 992px) {
    .page_pers{
        &-left { padding-left: 50px;}
        &-right {margin-right: 50px;}
    }                                                            
}
@media(max-width: 1199px) and (min-width: 992px) {
    .page_pers-left-menu ul li a {margin-bottom: 50px; font-size: 22px; }
}
@media(max-width: 991px) and (min-width: 768px) {
    .page_pers {
        &-left {padding-left: 7px;}
        &-right {margin-right: 7px;}
    }
}
@media(max-width: 767px) {
    .page_pers{padding-top: 127px;
        &-sub_menu {    margin-top: 35px;overflow-x: auto; max-width: 100%;
            ul { width: max-content; } 
        }        
        &-left { padding: 7px;
            &-menu {margin-top: 61px; overflow-x: auto; max-width: 100%;
                ul { width: max-content;
                    li {display: inline-block; margin-right: 20px;
                        a {font-size: 20px; margin-bottom: 30px;}
                    } 
                }            
            }
        }
        &-middle {margin-top: 61px;}
        &-graph { margin-top: 0;  display: none;}
        &-right {margin: 7px;
            &-cont {
                &.proj {margin-top: 61px;}
            }
        }
    }                                                            
}