/*page_services*/
.page_services {background: #fff; padding-top: 225px; padding-bottom: 125px;
    &-ttl { font-size: 48px; padding-left: 100px; line-height: 1.29; margin-bottom: 50px; } 
    &-bl{ max-width: 512px; margin-left: 100px; padding-bottom: 89px; position: relative; padding-left: 119px; border-bottom: 1px solid #37373733;
        &-num { position: absolute; top: 0; left: 0; font-size: 26px; color: #345e94; width: 70px; height: 50px; background: url(../img/num2.svg), no-repeat 50% 100px; background-size: 100% 100%; text-align: center; padding: 0px 10px; line-height: 1.1;}
        &-img {min-height: 328px; width: 100%; background: #ddd;display:block;
            &:hover, &:focus {text-decoration:none;color:#000;}
        }
        &-ttl { margin-top: 53px; font-size: 30px;  display:block; color: #000; padding-right: 20px; position: relative; cursor: pointer;
            &:hover, &:focus {text-decoration:none;color:#000;
                &:after {content: '';background: url('../img/plus_black.svg');background-size: 100% 100%;width: 13px;height: 13px;position: absolute;right: 0; top: 14px;}
            }
        } 
        &-txt { font-size: 16px; margin-top: 49px; color: #373737; line-height: 1.46; display:block; padding-right: 20px; position: relative; opacity: 0.5;
            &:hover, &:focus {text-decoration:none;color:#000;}
            .burg { position: absolute; top: 50%; right: 0; width: 13px; height: 13px; 
                span { display: block; background: #000; height: 1px; margin: 2px 0; 
                    &:first-child { margin-top: 0; } 
                    &:last-child { margin-bottom: 0; }
                } 
            } 
            &.hidden {display: none;margin-top: 0;}
        }
    }
    .row.blocks { position: relative; 
        &:after { content: ''; width: 1px; position: absolute; height: 80%; background: #37373733; left: 0; right: 0; margin: 0 auto; top: 10%; }
        .col-12 {
            &:last-child, &:nth-last-child(2) {
                .page_services-bl {border-bottom: none;}
            }
        }
    } 
}
/*page_services*/
@media(max-width: 1600px) and (min-width: 992px){
    .page_services {
        &-ttl {padding-left: 50px;}
        &-bl {margin-left: 50px;margin-right: 50px;}
    }
}
@media(max-width: 1199px) and (min-width: 992px){
    .page_services {
        &-bl {padding-left: 84px; padding-bottom: 50px;
            &-ttl {font-size: 23px;}
        }
    }
}
@media(max-width: 991px) and (min-width: 768px){
    .page_services {
        .row.blocks {
            &:after { display: none; }
            .col-12 {
                &:last-child, &:nth-last-child(2) {
                    .page_services-bl {border-bottom: 1px solid #37373780;}
                }
            }
        }        
    }
}
@media(max-width: 767px){
    .page_services{padding-top: 125px; padding-bottom: 75px;
        &-ttl { padding: 0 7px; font-size: 30px; position: relative; 
            &:before { content: ''; position: absolute; display: block; width: 12px; height: 6px; background: url('../img/arr-mob.svg'); background-size: 12px 6px; right: 0; top: 50%; margin-top: -3px; }
        } 
        &-cont { padding: 50px 7px 0; 
            .col-12 { padding: 0; }
        }  
        &-bl {max-width: 325px; margin: 0 auto 59px; padding-left: 0; padding-bottom: 50px;
            &-num { position: static; } 
            &-ttl { margin-top: 30px; }
        }
        &-right {
            &-bl { padding: 0 12px; }
        }
        .row.blocks {
            &:after { display: none; }
            .col-12 {
                &:last-child, &:nth-last-child(2) {
                    .page_services-bl {border-bottom: 1px solid #37373780;}
                }
            }
        }
    }
}