@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Chakra+Petch:400,700");
body { font-family: 'IBM Plex Sans', sans-serif; font-size: 16px; font-weight: 500; background: #fff; color: #000; min-height: 100vh; }

img { max-width: 100%; height: auto; }

@media (min-width: 1200px) { .container { max-width: 1484px; } }
.video-back { position: fixed; z-index: -1; width: 100%; height: 100%; left: 0; top: 0; }

/*header*/
header { position: fixed; top: 0; left: 0; width: 100%; padding: 48px 35px; z-index: 200; }
header.fixed .h-btn { display: none !important; }
header.fixed .h-lang { display: none !important; }
header.fixed .h-phn { display: none !important; }

.h-mob { display: none; }
.h-logo { font-family: 'Chakra Petch', sans-serif; font-size: 24px; font-weight: 700; color: #fff; }
.h-logo:hover, .h-logo:focus { color: #fff; text-decoration: none; }
.h-btn { width: 64px; height: 8px; background: none; border: none; cursor: pointer; margin-top: 13px; position: relative; }
.h-btn span { display: block; background: #fff; height: 1px; margin: 4px 0; transition: 0.3s; -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; -ms-transition: 0.3s; width: 100%; }
.h-btn span:first-child { margin-top: 0; }
.h-btn span:nth-child(2) { margin-bottom: 0; }
.h-btn span.hlp { position: absolute; top: 0; opacity: 0; transition: 0.3s; -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; -ms-transition: 0.3s; }
.h-btn.opened span { width: 12px; transition: 0.3s; -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; -ms-transition: 0.3s; }
.h-btn.opened span.hlp { right: 0; transform: rotate(45deg); opacity: 1; transition: 0.3s; -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; -ms-transition: 0.3s; }
.h-btn.opened span.hlp:last-child { transform: rotate(135deg); transition: 0.3s; -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; -ms-transition: 0.3s; }
.h-btn:focus { outline: 0; box-shadow: none; }
.h-lang { margin-top: 6px; }
.h-lang a, .h-lang span { font-size: 16px; color: #fff; }
.h-lang a:hover, .h-lang a:focus { color: #fff; }
.h-lang * { margin: 0 6px; white-space: nowrap; }
.h-lang *:first-child { margin-left: 0; }
.h-lang *:last-child { margin-right: 0; }
.h-phn { text-align: center; margin-top: 5px; }
.h-phn a { color: #fff; font-weight: 500; }
.h-right { float: right; margin-top: 7px; }
.h-srch { width: 20px; height: 20px; display: inline-block; background: url("../img/search.svg"); background-size: cover; border: none; cursor: pointer; margin-right: 20px; }
.h-user { width: 22px; height: 20px; display: inline-block; background: url("../img/user.svg"); background-size: cover; margin-left: 20px; }

header.color-black .h-logo { color: #000; }
header.color-black .h-logo:hover, header.color-black .h-logo:focus { color: #000; }
header.color-black .h-btn span { background: #000; }
header.color-black .h-lang a, header.color-black .h-lang span { color: #000; }
header.color-black .h-lang a:hover, header.color-black .h-lang a:focus { color: #000; }
header.color-black .h-phn a { color: #000; }
header.color-black .h-srch { background: url("../img/search_black.svg"); }
header.color-black .h-user { background: url("../img/user_black.svg"); }
header.abs { position: absolute; }
header.color-white .h-logo { color: #fff; }
header.color-white .h-logo:hover, header.color-white .h-logo:focus { color: #fff; }
header.color-white .h-btn span { background: #fff; }
header.color-white .h-lang a, header.color-white .h-lang span { color: #fff; }
header.color-white .h-lang a:hover, header.color-white .h-lang a:focus { color: #fff; }
header.color-white .h-phn a { color: #fff; }
header.color-white .h-srch { background: url("../img/search.svg"); }
header.color-white .h-user { background: url("../img/user.svg"); }

/*header*/
@media (max-width: 1600px) and (min-width: 1200px) { header { padding: 48px 40px; } }
@media (max-width: 767px) { header { padding: 22px 7px; z-index: 200; }
  header > * { display: none; }
  header .h-mob { display: block; }
  header .h-mob-logo { font-family: 'Chakra Petch', sans-serif; font-size: 24px; font-weight: 700; color: #fff; }
  header .h-mob-logo:hover, header .h-mob-logo:focus { color: #fff; text-decoration: none; }
  header .h-mob-btn { width: 64px; height: 8px; background: none; border: none; cursor: pointer; margin-top: 13px; float: right; position: relative; }
  header .h-mob-btn span { display: block; background: #fff; height: 1px; margin: 4px 0; transition: 0.3s; -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; -ms-transition: 0.3s; width: 100%; }
  header .h-mob-btn span:first-child { margin-top: 0; }
  header .h-mob-btn span:nth-child(2) { margin-bottom: 0; }
  header .h-mob-btn span.hlp { position: absolute; top: 0; opacity: 0; transition: 0.3s; -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; -ms-transition: 0.3s; }
  header .h-mob-btn.opened span { width: 12px; transition: 0.3s; -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; -ms-transition: 0.3s; }
  header .h-mob-btn.opened span.hlp { right: 0; transform: rotate(45deg); opacity: 1; transition: 0.3s; -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; -ms-transition: 0.3s; }
  header .h-mob-btn.opened span.hlp:last-child { transform: rotate(135deg); transition: 0.3s; -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; -ms-transition: 0.3s; }
  header .h-mob-btn:focus { outline: 0; box-shadow: none; }
  header .h-cat { font-size: 20px; margin-top: 66px; }
  header.color-black .h-mob-logo { color: #000; }
  header.color-black .h-mob-btn span { background: #000; } }
/*fix-menu*/
.fix-menu { overflow: auto; width: 100%; height: 100vh; background: #345e94; position: fixed; z-index: 190; padding-top: 132px; padding-bottom: 64px; }
.fix-menu.hidden { display: none; }
.fix-menu-cont { padding-top: 146px; padding-left: 100px; display: flex; justify-content: space-between; flex-direction: column; min-height: 100%; }
.fix-menu-ttl { font-size: 48px; line-height: 1.29; color: #fff; }
.fix-menu-txt { margin: 30px 0; }
.fix-menu-txt a { display: inline-block; font-size: 30px; opacity: 0.4; color: #fff; margin-right: 65px; }
.fix-menu-txt a:last-child { margin: 0; }
.fix-menu-cat { font-size: 30px; color: #fff; display: block; align-items: flex-end; padding: 27px 0px 31px; }
.fix-menu-cat span { width: 17px; height: 17px; background: url("../img/main-cat.png"); background-size: cover; display: inline-block; margin-left: 15px; }
.fix-menu-cat:hover, .fix-menu-cat:focus { text-decoration: none; color: #fff; }
.fix-menu-menu { margin-top: 146px; }
.fix-menu-menu ul { padding: 0; margin: 0; list-style: none; }
.fix-menu-menu ul li { height: 97px; }
.fix-menu-menu ul li a { display: block; width: 100%; height: 100%; color: #fff; background: rgba(52, 94, 148, 0); padding: 27px 126px 31px; font-size: 30px; }
.fix-menu-menu ul li a:hover, .fix-menu-menu ul li a:focus { background: rgba(52, 94, 148, 0.7); text-decoration: none; }
.fix-menu-menu ul li a sup { font-size: 16px; top: -17px; }
.fix-menu-mob { display: none; }

/*fix-menu*/
@media (max-width: 991px) and (min-width: 768px) { .fix-menu-cont { padding-top: 60px; padding-left: 0px; }
  .fix-menu-menu { margin-top: 0; }
  .fix-menu-menu ul li a { padding: 27px 50px 31px; }
  .fix-menu-controls { margin-top: 70px; }
  .fix-menu-cat { padding: 70px 0px; } }
@media (max-width: 767px) { .fix-menu { padding-top: 62px; padding-bottom: 22px; }
  .fix-menu-cont { padding: 90px 7px 0; justify-content: start; }
  .fix-menu-ttl { font-size: 30px; }
  .fix-menu-txt a { font-size: 20px; padding: 10px 0; }
  .fix-menu-controls { display: none; }
  .fix-menu-cat { font-size: 20px; margin-top: 66px; padding: 0; }
  .fix-menu-menu { margin-top: 74px; }
  .fix-menu-menu ul li { height: auto; }
  .fix-menu-menu ul li a { padding: 10px; font-size: 20px; opacity: 0.5; }
  .fix-menu-menu ul li a sup { display: none; }
  .fix-menu-mob { margin-top: 126px; display: block; }
  .fix-menu-mob a { color: #fff; font-size: 16px; }
  .fix-menu-mob a:hover, .fix-menu-mob a:focus { color: #fff; } }
/*main*/
.main { background: rgba(0, 0, 0, 0.4); min-height: 100vh; padding-top: 132px; padding-bottom: 64px; }
.main-cont { padding-top: 146px; padding-left: 100px; display: flex; justify-content: space-between; flex-direction: column; min-height: 100%; }
.main-ttl { font-size: 48px; line-height: 1.29; color: #fff; }
.main-cat { font-size: 30px; color: #fff; display: block; align-items: flex-end; padding: 27px 0px 31px; }
.main-cat span { width: 17px; height: 17px; background: url("../img/main-cat.png"); background-size: cover; display: inline-block; margin-left: 15px; }
.main-cat:hover, .main-cat:focus { text-decoration: none; color: #fff; }
.main-menu { margin-top: 146px; }
.main-menu ul { padding: 0; margin: 0; list-style: none; }
.main-menu ul li { height: 97px; }
.main-menu ul li a { display: block; width: 100%; height: 100%; color: #fff; background: rgba(52, 94, 148, 0); padding: 27px 126px 31px; font-size: 30px; }
.main-menu ul li a:hover, .main-menu ul li a:focus { background: rgba(52, 94, 148, 0.7); text-decoration: none; }
.main-menu ul li a sup { font-size: 16px; top: -17px; }
.main-controls { height: 24px; margin: 0 35px; margin-top: 232px; position: relative; }
.main-controls .control-left { width: 14px; height: 26px; background: url(../img/main-arrs.png) no-repeat 0% 0%; position: absolute; left: 0; top: 0; }
.main-controls .control-right { width: 14px; height: 26px; background: url(../img/main-arrs.png) no-repeat 100% 0%; position: absolute; right: 0; top: 0; }
.main-controls .control-bottom { display: block; width: 14px; height: 9px; background: url(../img/main-arr_b.png) no-repeat 100% 0%; position: absolute; left: 0; right: 0; margin: 0 auto; bottom: 0; }
.main-mob { display: none; }

/*main*/
@media (max-width: 991px) and (min-width: 768px) { .main-cont { padding-top: 60px; }
  .main-menu { margin-top: 0; }
  .main-menu ul li a { padding: 27px 98px 31px; }
  .main-controls { margin-top: 70px; }
  .main-cat { padding: 70px 0px; } }
@media (max-width: 767px) { .main { padding-top: 62px; padding-bottom: 22px; position: relative; }
  .main-cont { padding: 90px 7px 0; }
  .main-ttl { font-size: 30px; }
  .main-controls { display: none; }
  .main-cat { font-size: 20px; margin-top: 66px; padding: 0; }
  .main-menu { margin-top: 74px; }
  .main-menu ul li { height: auto; }
  .main-menu ul li a { padding: 10px; font-size: 20px; opacity: 0.5; }
  .main-menu ul li a sup { display: none; }
  .main-mob { position: absolute; bottom: 32px; right: 22px; display: block; }
  .main-mob-srch { width: 20px; height: 20px; display: inline-block; background: url("../img/search.svg"); background-size: cover; border: none; cursor: pointer; margin-right: 20px; }
  .main-mob-user { width: 22px; height: 20px; display: inline-block; background: url("../img/user.svg"); background-size: cover; margin-left: 20px; } }
/*second*/
.second { background: rgba(0, 0, 0, 0.4); }
.second-bl { border-bottom: 1px solid #fff; padding-bottom: 125px; }
.second-bl-ttl { font-size: 30px; line-height: 1.29; color: #fff; position: relative; height: 76px; overflow: hidden; }
.second-bl-ttl:after { content: ''; display: block; width: 17px; height: 17px; position: absolute; top: 6px; right: 0; background: url("../img/plus.svg"); background-size: cover; }
.second-bl-txt { font-size: 16px; color: #fff; display: block; opacity: 0.5; margin-top: 45px; }
.second-bl-ico { width: 17px; height: 17px; background: url("../img/main-cat.png"); background-size: cover; display: block; margin-top: 90px; }
.second-cont { padding-top: 107px; padding-left: 100px; padding-right: 128px; display: block; color: #fff; }
.second-cont:hover, .second-cont:focus { text-decoration: none; color: #fff; background: rgba(52, 94, 148, 0.7); }
.second-cont:hover .second-bl, .second-cont:focus .second-bl { border: 0; }
.second-last { padding-top: 107px; padding-left: 100px; padding-right: 128px; text-align: center; }
.second-last-bl { max-width: 43%; width: 100%; color: #fff; display: block; margin: 0 12px; float: left; }
.second-last-bl.last { float: right; }
.second-last-bl-num { width: 100%; height: 66px; background: url("../img/num.svg") no-repeat; background-size: 100% auto; text-align: center; font-size: 32px; line-height: 1.66; }
.second-last-bl-txt { font-size: 12px; margin-top: 32px; font-style: italic; }
.second-last-btm { text-align: left; overflow: hidden; clear: both; }
.second-last-btm-cat { font-size: 30px; color: #fff; display: block; margin-top: 75px; float: left; }
.second-last-btm-cat span { width: 17px; height: 17px; background: url("../img/main-cat.png"); background-size: cover; display: inline-block; margin-left: 15px; }
.second-last-btm-cat:hover, .second-last-btm-cat:focus { text-decoration: none; color: #fff; }
.second-last-btm-ques { font-size: 30px; color: #fff; display: inline-block; margin-top: 75px; opacity: 0.7; float: right; }
.second-last-btm-ques:hover, .second-last-btm-ques:focus { text-decoration: none; color: #fff; }

/*second*/
@media (max-width: 1199px) and (min-width: 992px) { .second-last { padding-left: 50px; padding-right: 50px; }
  .second-last-btm-cat { font-size: 25px; }
  .second-last-btm-ques { font-size: 25px; } }
@media (max-width: 991px) and (min-width: 768px) { .second { padding-bottom: 60px; } }
@media (max-width: 767px) { .second { background: #345e94; }
  .second-cont { padding: 49px 7px 0; }
  .second-bl-ttl { padding-right: 55px; height: auto; width: 100%; }
  .second-bl-txt { margin-top: 36px; float: left; width: 250px; }
  .second-bl-ico { float: right; margin-top: 43px; }
  .second-last { padding: 32px 22px; }
  .second-last-bl { margin: 0 4px; }
  .second-last-btm-cat { margin-top: 55px; font-size: 20px; }
  .second-last-btm-ques { margin-top: 55px; font-size: 20px; } }
/*third*/
.third { background: rgba(0, 0, 0, 0.4); }
.third-cont { padding-top: 146px; padding-left: 100px; margin-top: 276px; }
.third-btm { text-align: left; overflow: hidden; clear: both; }
.third-btm-cat { font-size: 30px; color: #fff; display: block; margin-top: 75px; float: left; }
.third-btm-cat span { width: 17px; height: 17px; background: url("../img/main-cat.png"); background-size: cover; display: inline-block; margin-left: 15px; }
.third-btm-cat:hover, .third-btm-cat:focus { text-decoration: none; color: #fff; }
.third-btm-ques { font-size: 30px; color: #fff; display: inline-block; margin-top: 75px; opacity: 0.7; float: left; margin-left: 30px; }
.third-btm-ques:hover, .third-btm-ques:focus { text-decoration: none; color: #fff; }
.third-ttl { font-size: 48px; line-height: 1.29; color: #fff; }
.third-txt { font-size: 16px; color: #fff; display: block; opacity: 0.5; margin-top: 45px; }
.third-right { padding: 168px 128px; padding-right: 140px; background: rgba(52, 94, 148, 0.7); color: #fff; }
.third-right-bl { margin-bottom: 108px; }
.third-right-bl:last-child { margin-bottom: 0; }
.third-right-ttl { line-height: 1.29; font-size: 30px; }
.third-right-txt { line-height: 1.46; font-size: 16px; opacity: 0.5; margin-top: 35px; }

/*third*/
@media (max-width: 1199px) and (min-width: 992px) { .third-right { padding: 70px 60px; }
  .third-cont { margin-top: 100px; }
  .third-btm-cat { font-size: 25px; }
  .third-btm-ques { font-size: 25px; } }
@media (max-width: 991px) and (min-width: 768px) { .third-cont { margin: 0; margin-bottom: 60px; } }
@media (max-width: 767px) { .third { padding-top: 62px; position: relative; }
  .third-cont { padding: 90px 7px 0; margin: 0; }
  .third-ttl { font-size: 30px; }
  .third-controls { display: none; }
  .third-cat { font-size: 20px; margin-top: 66px; padding: 0; }
  .third-menu { margin-top: 74px; }
  .third-menu ul li { height: auto; }
  .third-menu ul li a { padding: 10px; font-size: 20px; opacity: 0.5; }
  .third-menu ul li a sup { display: none; }
  .third-mob { position: absolute; bottom: 32px; right: 22px; display: block; }
  .third-mob-srch { width: 20px; height: 20px; display: inline-block; background: url("../img/search.svg"); background-size: cover; border: none; cursor: pointer; margin-right: 20px; }
  .third-mob-user { width: 22px; height: 20px; display: inline-block; background: url("../img/user.svg"); background-size: cover; margin-left: 20px; }
  .third-right { padding: 56px 22px; margin: 0 -15px; margin-top: 35px; }
  .third-right-bl { margin-bottom: 56px; }
  .third-btm-cat { margin-top: 55px; font-size: 20px; }
  .third-btm-ques { margin-top: 55px; font-size: 20px; float: right; } }
/*fourth*/
.fourth { background: rgba(0, 0, 0, 0.4); padding-bottom: 168px; padding-top: 184px; }
.fourth-cont { padding-top: 90px; padding-left: 100px; padding-right: 128px; padding-bottom: 90px; }
.fourth-cont:hover { background: rgba(52, 94, 148, 0.7); }
.fourth-bl { /*&.st {margin-top: 128px;}*/ }
.fourth-bl-ttl { font-size: 30px; line-height: 1.29; color: #fff; position: relative; overflow: hidden; cursor: pointer; }
.fourth-bl-ttl:after { content: ''; display: block; width: 17px; height: 17px; position: absolute; top: 6px; right: 0; background: url("../img/plus.svg"); background-size: cover; }
.fourth-bl-txt { font-size: 16px; color: #fff; display: block; opacity: 0.5; margin-top: 45px; }
.fourth-news { margin-top: 128px; }
.fourth-news-ttl { font-size: 30px; line-height: 1.29; color: #fff; position: relative; overflow: hidden; }
.fourth-news-txt { font-size: 16px; color: #fff; display: block; opacity: 0.5; margin-top: 45px; }
.fourth-releaze { border-top: 1px solid #fff; padding-top: 30px; overflow: hidden; margin-top: 30px; color: #fff; }
.fourth-releaze-ttl { float: left; max-width: 76%; }
.fourth-releaze-date { float: right; width: 70px; }
.fourth-more { color: #fff; display: block; margin-top: 30px; opacity: 0.5; }
.fourth-text { height: auto; overflow: hidden; }
.fourth-text.hidden { height: 0; margin-top: 0; }

/*fourth*/
@media (max-width: 1199px) and (min-width: 992px) { .fourth { padding: 0; }
  .fourth-cont { padding: 50px; } }
@media (max-width: 991px) and (min-width: 768px) { .fourth { padding-top: 40px; padding-bottom: 40px; } }
@media (max-width: 767px) { .fourth { padding: 60px 0; }
  .fourth-cont { padding: 28px 7px; } }
/*fifth*/
.fifth { background: #345e94; padding-top: 164px; padding-bottom: 84px; }
.fifth-cont { padding: 0 100px; }
.fifth-bl { text-align: center; color: #fff; }
.fifth-bl-ttl { font-size: 12px; font-style: italic; }
.fifth-bl-num { background: url("../img/num.svg"); background-size: cover; font-size: 30px; margin: 0 auto; margin-top: 25px; }
.fifth-bl.small .fifth-bl-num { width: 170px; height: 59px; font-size: 30px; }
.fifth-bl.big .fifth-bl-num { width: 518px; height: 180px; font-size: 64px; padding-top: 25px; margin-top: -5px; }
.fifth-sl { margin-top: 121px; }
.fifth-sl ul li { text-align: center; color: #fff; }
.fifth-sl-bl { max-width: 991px; display: block; margin: 0 auto; background: #224d83; padding: 61px 0; }
.fifth-sl-ttl { display: block; }
.fifth-sl-txt { display: block; font-style: italic; line-height: 1.46; width: 100%; max-width: 374px; margin: 0 auto; }
.fifth-sl-quote { display: block; margin: 16px 0; }
.fifth-sl .lSAction { max-width: 991px; position: absolute; top: 50%; width: 100%; left: 0; right: 0; margin: 0 auto; }
.fifth-sl .lSAction a { border: 1px solid #fff; width: 48px; height: 48px; border-radius: 50%; }
.fifth-sl .lSAction a.lSPrev { left: 20px; }
.fifth-sl .lSAction a.lSPrev:before { content: ''; width: 9px; height: 14px; background: url(../img/sl-arrs.png) no-repeat 0% 0%; display: block; margin: 16px auto; }
.fifth-sl .lSAction a.lSNext { right: 20px; }
.fifth-sl .lSAction a.lSNext:before { content: ''; width: 9px; height: 14px; background: url(../img/sl-arrs.png) no-repeat 100% 0%; display: block; margin: 16px auto; }

/*fifth*/
@media (max-width: 1199px) and (min-width: 992px) { .fifth-bl { margin: 0 auto; max-width: 151px; margin-bottom: 50px; position: relative; }
  .fifth-bl-ttl { position: absolute; bottom: 0; bottom: -23px; width: 100%; }
  .fifth-bl-num { margin-top: 0; }
  .fifth-bl.small .fifth-bl-num { width: 100%; background-size: 100%; background-repeat: no-repeat; margin-bottom: 23px; }
  .fifth-bl.big .fifth-bl-num { height: 59px; margin-bottom: 23px; padding: 0; width: 100%; background-size: 100%; background-repeat: no-repeat; font-size: 30px; } }
@media (max-width: 991px) and (min-width: 768px) { .fifth { padding-top: 138px; padding-bottom: 61px; }
  .fifth-cont { padding: 0 7px; }
  .fifth-bl { margin: 0 auto; max-width: 151px; margin-bottom: 50px; position: relative; }
  .fifth-bl-ttl { position: absolute; bottom: 0; bottom: -23px; width: 100%; }
  .fifth-bl-num { margin-top: 0; }
  .fifth-bl.small .fifth-bl-num { width: 100%; background-size: 100%; background-repeat: no-repeat; margin-bottom: 23px; }
  .fifth-bl.big .fifth-bl-num { height: 59px; margin-bottom: 23px; padding: 0; width: 100%; background-size: 100%; background-repeat: no-repeat; font-size: 30px; }
  .fifth-sl { margin-top: 57px; }
  .fifth-sl-txt { font-size: 13px; width: 79%; margin: 0 auto; }
  .fifth-sl .lSAction { top: 65px; } }
@media (max-width: 767px) { .fifth { padding-top: 138px; padding-bottom: 61px; }
  .fifth-cont { padding: 0 7px; }
  .fifth-bl { margin: 0 auto; max-width: 151px; margin-bottom: 50px; position: relative; }
  .fifth-bl-ttl { position: absolute; bottom: 0; bottom: -23px; width: 100%; }
  .fifth-bl-num { margin-top: 0; }
  .fifth-bl.small .fifth-bl-num { width: 100%; background-size: 100%; background-repeat: no-repeat; margin-bottom: 23px; }
  .fifth-bl.big .fifth-bl-num { height: 59px; margin-bottom: 23px; padding: 0; width: 100%; background-size: 100%; background-repeat: no-repeat; font-size: 30px; }
  .fifth-sl { margin-top: 57px; }
  .fifth-sl-txt { font-size: 13px; width: 79%; margin: 0 auto; }
  .fifth-sl .lSAction { top: 65px; } }
/*partn*/
.partn { background: #fff; padding: 128px 0 69px; }
.partn-ttl { font-size: 30px; text-align: center; }
.partn-sl { margin-top: 94px; }
.partn-sl li { text-align: center; }
.partn-sl .lSAction { max-width: 354px; position: relative; top: 0; width: 100%; left: 0; right: 0; margin: 0 auto; height: 48px; margin-top: 98px; }
.partn-sl .lSAction a { border: 1px solid #345e9433; width: 48px; height: 48px; border-radius: 50%; top: 0; margin: 0; }
.partn-sl .lSAction a.lSPrev { left: 20px; }
.partn-sl .lSAction a.lSPrev:before { content: ''; width: 9px; height: 14px; background: url(../img/partn-arrs.png) no-repeat 0% 0%; display: block; margin: 16px auto; }
.partn-sl .lSAction a.lSNext { right: 20px; }
.partn-sl .lSAction a.lSNext:before { content: ''; width: 9px; height: 14px; background: url(../img/partn-arrs.png) no-repeat 100% 0%; display: block; margin: 16px auto; }
.partn-sl .lSSlideOuter .lSPager.lSpg { padding-top: 13px; }
.partn-sl .lSSlideOuter .lSPager.lSpg > li { padding: 0 10px; }
.partn-sl .lSSlideOuter .lSPager.lSpg > li a { width: 1px; height: 12px; opacity: 0.3; background: #345e94; border: 0; }
.partn-sl .lSSlideOuter .lSPager.lSpg > li:hover a, .partn-sl .lSSlideOuter .lSPager.lSpg > li.active a { opacity: 1; }

/*partn*/
@media (max-width: 767px) { .partn { padding: 107px 0 71px; }
  .partn-sl .lSAction { margin-top: 40px; } }
/*page_catalog*/
.page_catalog { background: #fff; padding-top: 225px; padding-bottom: 125px; }
.page_catalog-ttl { font-size: 48px; padding-left: 100px; line-height: 1.29; }
.page_catalog-cont { padding-left: 100px; padding-top: 50px; display: none; }
.page_catalog-cont.active { display: block; }
.page_catalog-bl { max-width: 296px; margin: 0 auto; }
.page_catalog-bl-img { min-height: 192px; width: 100%; background: #ddd; display: block; }
.page_catalog-bl-img:hover, .page_catalog-bl-img:focus { text-decoration: none; color: #000; }
.page_catalog-bl-ttl { margin-top: 35px; font-size: 20px; display: block; color: #000; padding-right: 20px; position: relative; }
.page_catalog-bl-ttl:hover, .page_catalog-bl-ttl:focus { text-decoration: none; color: #000; }
.page_catalog-bl-ttl:hover:after, .page_catalog-bl-ttl:focus:after { content: ''; background: url("../img/plus_black.svg"); background-size: 100% 100%; width: 13px; height: 13px; position: absolute; right: 0; top: 50%; margin-top: -13px; }
.page_catalog-bl-txt { margin-top: 27px; color: #373737; line-height: 1.46; margin-bottom: 48px; font-size: 14px; display: block; }
.page_catalog-bl-txt:hover, .page_catalog-bl-txt:focus { text-decoration: none; color: #000; }
.page_catalog-right-bl { color: #345e94; padding: 0px 100px; line-height: 1.6; opacity: 1; margin-bottom: 64px; display: block; position: relative; }
.page_catalog-right-bl:hover, .page_catalog-right-bl:focus { color: #345e94; }
.page_catalog-right-bl sup { font-size: 16px; display: inline-block; vertical-align: top; top: 0; }
.page_catalog-right-bl span { display: inline-block; vertical-align: top; }
.page_catalog-right-bl:after { content: ''; background: url("../img/plus_blue.svg"); background-size: 100% 100%; width: 13px; height: 13px; position: absolute; right: 0; top: 50%; margin-top: -13px; }
.page_catalog-right-bl.active { opacity: 0.5; }
.page_catalog-right-bl.active:after { display: none; }

/*page_catalog*/
@media (max-width: 767px) { .page_catalog-ttl { padding: 0 7px; }
  .page_catalog-cont { padding: 50px 7px 0; }
  .page_catalog-cont .col-12 { padding: 0; }
  .page_catalog-bl { max-width: 320px; }
  .page_catalog-right-bl { padding: 0 12px; } }
/*page_news*/
.page_news { background: #fff; padding-top: 225px; padding-bottom: 125px; }
.page_news-ttl { font-size: 48px; padding-left: 100px; line-height: 1.29; margin-bottom: 50px; }
.page_news-bl { max-width: 512px; margin-left: 100px; margin-bottom: 89px; }
.page_news-bl-img { min-height: 328px; width: 100%; background: #ddd; display: block; }
.page_news-bl-img:hover, .page_news-bl-img:focus { text-decoration: none; color: #000; }
.page_news-bl-ttl { margin-top: 53px; font-size: 20px; display: block; color: #000; padding-right: 20px; position: relative; }
.page_news-bl-ttl:hover, .page_news-bl-ttl:focus { text-decoration: none; color: #000; }
.page_news-bl-ttl:hover:after, .page_news-bl-ttl:focus:after { content: ''; background: url("../img/plus_black.svg"); background-size: 100% 100%; width: 13px; height: 13px; position: absolute; right: 0; top: 50%; margin-top: -13px; }
.page_news-bl-txt { margin-top: 27px; color: #373737; line-height: 1.46; font-size: 14px; display: block; padding-right: 20px; position: relative; }
.page_news-bl-txt:hover, .page_news-bl-txt:focus { text-decoration: none; color: #000; }
.page_news-bl-txt .burg { position: absolute; top: 50%; right: 0; width: 13px; height: 13px; }
.page_news-bl-txt .burg span { display: block; background: #000; height: 1px; margin: 2px 0; }
.page_news-bl-txt .burg span:first-child { margin-top: 0; }
.page_news-bl-txt .burg span:last-child { margin-bottom: 0; }
.page_news-right-bl { color: #345e94; padding: 0px 100px; line-height: 1.6; opacity: 1; margin-bottom: 64px; display: block; position: relative; }
.page_news-right-bl:hover, .page_news-right-bl:focus { color: #345e94; }
.page_news-right-bl sup { font-size: 16px; display: inline-block; vertical-align: top; top: 0; }
.page_news-right-bl span { display: inline-block; vertical-align: top; }
.page_news-right-bl:after { content: ''; background: url("../img/plus_blue.svg"); background-size: 100% 100%; width: 13px; height: 13px; position: absolute; right: 0; top: 50%; margin-top: -13px; }
.page_news-right-bl.active { opacity: 0.5; }
.page_news-right-bl.active:after { display: none; }

/*page_news*/
@media (max-width: 1600px) and (min-width: 992px) { .page_news-ttl { padding-left: 50px; }
  .page_news-bl { margin-left: 50px; margin-right: 50px; } }
@media (max-width: 767px) { .page_news { padding-top: 125px; padding-bottom: 75px; }
  .page_news-ttl { padding: 0 7px; }
  .page_news-cont { padding: 50px 7px 0; }
  .page_news-cont .col-12 { padding: 0; }
  .page_news-bl { max-width: 325px; margin: 0 auto 59px; }
  .page_news-right-bl { padding: 0 12px; } }
/*page_single_news*/
.page_single_news { background: #fff; padding-top: 248px; }
.page_single_news-img { margin-left: 100px; max-width: 693px; min-height: 446px; background: #ddd; margin-bottom: 33px; }
.page_single_news-info { margin-left: 100px; overflow: hidden; }
.page_single_news-date { opacity: 0.5; float: left; }
.page_single_news-shared { opacity: 0.5; float: right; padding-left: 26px; background: url("../img/share.png") no-repeat 0% 50%; }
.page_single_news-same { margin: 125px 0 78px 100px; font-size: 30px; line-height: 1.46; }
.page_single_news-ttl { font-size: 30px; line-height: 1.46; margin-bottom: 61px; margin-left: 50px; }
.page_single_news-txt { font-size: 20px; max-width: 510px; margin-left: 50px; }
.page_single_news-txt p { margin: 0 0 35px; }

/*page_single_news*/
@media (max-width: 1600px) and (min-width: 992px) { .page_single_news-img { margin-left: 50px; }
  .page_single_news-ttl { margin-right: 50px; }
  .page_single_news-txt { margin-right: 50px; }
  .page_single_news-same { margin-left: 50px; }
  .page_single_news-info { margin-left: 50px; } }
@media (max-width: 991px) and (min-width: 768px) { .page_single_news-img { margin-left: 0; }
  .page_single_news-info { margin-left: 0; }
  .page_single_news-ttl { margin-top: 40px; margin-left: 0; }
  .page_single_news-txt { margin-left: 0; max-width: 100%; } }
@media (max-width: 767px) { .page_single_news { padding-top: 148px; }
  .page_single_news-img { margin-left: 0; min-height: 246px; margin: 0 7px 33px; }
  .page_single_news-info { margin-left: 0; margin: 0 7px; }
  .page_single_news-ttl { margin-left: 0; margin: 40px 7px 33px; }
  .page_single_news-txt { margin-left: 0; margin: 0 7px; }
  .page_single_news-same { margin: 30px 7px 50px; } }
/*page_news*/
.page_services { background: #fff; padding-top: 225px; padding-bottom: 125px; }
.page_services-ttl { font-size: 48px; padding-left: 100px; line-height: 1.29; margin-bottom: 50px; }
.page_services-bl { max-width: 512px; margin-left: 100px; margin-bottom: 89px; position: relative; padding-left: 119px; }
.page_services-bl-num { position: absolute; top: 0; left: 0; font-size: 30px; color: #345e94; width: 70px; height: 50px; background: url(../img/num2.svg); background-size: 100% 100%; text-align: center; padding: 0px 10px; }
.page_services-bl-img { min-height: 328px; width: 100%; background: #ddd; display: block; }
.page_services-bl-img:hover, .page_services-bl-img:focus { text-decoration: none; color: #000; }
.page_services-bl-ttl { margin-top: 53px; font-size: 30px; display: block; color: #000; padding-right: 20px; position: relative; cursor: pointer; }
.page_services-bl-ttl:hover, .page_services-bl-ttl:focus { text-decoration: none; color: #000; }
.page_services-bl-ttl:hover:after, .page_services-bl-ttl:focus:after { content: ''; background: url("../img/plus_black.svg"); background-size: 100% 100%; width: 13px; height: 13px; position: absolute; right: 0; top: 50%; margin-top: -13px; }
.page_services-bl-txt { font-size: 16px; margin-top: 49px; color: #373737; line-height: 1.46; display: block; padding-right: 20px; position: relative; opacity: 0.5; }
.page_services-bl-txt:hover, .page_services-bl-txt:focus { text-decoration: none; color: #000; }
.page_services-bl-txt .burg { position: absolute; top: 50%; right: 0; width: 13px; height: 13px; }
.page_services-bl-txt .burg span { display: block; background: #000; height: 1px; margin: 2px 0; }
.page_services-bl-txt .burg span:first-child { margin-top: 0; }
.page_services-bl-txt .burg span:last-child { margin-bottom: 0; }
.page_services-right-bl { color: #345e94; padding: 0px 100px; line-height: 1.6; opacity: 1; margin-bottom: 64px; display: block; position: relative; }
.page_services-right-bl:hover, .page_services-right-bl:focus { color: #345e94; }
.page_services-right-bl sup { font-size: 16px; display: inline-block; vertical-align: top; top: 0; }
.page_services-right-bl span { display: inline-block; vertical-align: top; }
.page_services-right-bl:after { content: ''; background: url("../img/plus_blue.svg"); background-size: 100% 100%; width: 13px; height: 13px; position: absolute; right: 0; top: 50%; margin-top: -13px; }
.page_services-right-bl.active { opacity: 0.5; }
.page_services-right-bl.active:after { display: none; }

/*page_news*/
@media (max-width: 1600px) and (min-width: 992px) { .page_services-ttl { padding-left: 50px; }
  .page_services-bl { margin-left: 50px; margin-right: 50px; } }
@media (max-width: 767px) { .page_services { padding-top: 125px; padding-bottom: 75px; }
  .page_services-ttl { padding: 0 7px; }
  .page_services-cont { padding: 50px 7px 0; }
  .page_services-cont .col-12 { padding: 0; }
  .page_services-bl { max-width: 325px; margin: 0 auto 59px; }
  .page_services-right-bl { padding: 0 12px; } }
/*footer*/
footer { padding: 48px 35px; background: #345e94; }

.f-menu { max-width: 1280px; margin: 0 auto; }
.f-menu ul { margin: 0; padding: 0; list-style: none; text-align: justify; -moz-text-align-last: justify; -webkit-text-align-last: justify; text-align-last: justify; }
.f-menu ul li { display: inline-block; vertical-align: top; }
.f-menu ul li a { color: #fff; font-size: 20px; }
.f-sep { width: 100%; border-bottom: 1px solid #fff; opacity: 0.4; margin-top: 48px; }
.f-cont { margin: 48px auto 0; max-width: 1310px; }
.f-ttl { font-size: 20px; color: #fff; margin-bottom: 61px; }
.f-txt { margin-bottom: 37px; display: block; max-width: 242px; color: #fff; opacity: 0.5; }
.f-txt:hover, .f-txt:focus { opacity: 1; text-decoration: none; color: #fff; }
.f-data { margin-bottom: 25px; display: block; max-width: 242px; color: #fff; opacity: 0.5; }
.f-data a { color: #fff; }
.f-data a:hover, .f-data a:focus { color: #fff; }
.f-links { text-align: right; }
.f-links a { color: #fff; }
.f-btm { text-align: justify; text-align: justify; -moz-text-align-last: justify; -webkit-text-align-last: justify; text-align-last: justify; margin-top: 48px; }
.f-btm a, .f-btm span { display: inline-block; color: #fff; opacity: 0.5; }
.f-btm a > a, .f-btm span > a { opacity: 1; }

/*footer*/
@media (max-width: 991px) and (min-width: 768px) { .footer { display: none; } }
@media (max-width: 767px) { .f-btm { text-align: center; text-align: center; -moz-text-align-last: center; -webkit-text-align-last: center; text-align-last: center; }
  .f-sep { display: none; }
  .f-sep.mob { display: block; }
  .f-cont { display: none; }
  .f-menu ul { text-align: center; -moz-text-align-last: center; -webkit-text-align-last: center; text-align-last: center; }
  .f-menu ul li { display: block; padding: 10px 0; }
  .f-menu ul li a { font-size: 30px; text-align: center; display: block; width: 100%; }
  .hidden-xs { display: none !important; } }

/*# sourceMappingURL=main.css.map */
