@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:400,700');

@mixin shadow($shadow...) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
}


@mixin trans ($trans) {
	transition:$trans;
	-webkit-transition:$trans;
	-moz-transition:$trans;
	-o-transition:$trans;
	-ms-transition:$trans;
}

@mixin border-radius ($border-radius) {
	border-radius:$border-radius;
	-webkit-border-radius:$border-radius;
	-moz-border-radius:$border-radius;
	-o-border-radius:$border-radius;
	-ms-border-radius:$border-radius;
}

body {font-family: 'IBM Plex Sans', sans-serif; font-size: 16px;font-weight: 500;background: #fff;color:#000; min-height: 100vh;}

img { max-width: 100%; height:auto; }

@media(min-width: 1200px){
    .container {max-width: 1484px;}
}

.video-back {position: fixed; z-index: -1; width: 100%; height: 100%; left: 0; top: 0;}

/*header*/
header {position: fixed; top: 0; left: 0; width: 100%;padding: 48px 35px; z-index: 200;
    &.fixed {
        .h {
            &-btn {display: none!important;} 
            &-lang {display: none!important;}
            &-phn {display: none!important;}            
        }
    }
}
.h { 
    &-mob {display: none;}
    &-logo {font-family: 'Chakra Petch', sans-serif;font-size: 24px;font-weight: 700;color: #fff; 
        &:hover, &:focus {color: #fff;text-decoration: none;}
    }
    &-btn { width: 64px; height: 8px; background: none; border: none; cursor: pointer; margin-top: 13px;position: relative;
        span { display: block; background: #fff; height: 1px; margin: 4px 0;  @include trans(0.3s); width: 100%;
            &:first-child { margin-top: 0; } 
            &:nth-child(2) { margin-bottom: 0; }
            &.hlp { position: absolute; top: 0; opacity: 0; @include trans(0.3s); }
        } 
        &.opened {
            span { width: 12px;  @include trans(0.3s);
                &.hlp { right: 0; transform: rotate(45deg); opacity: 1; @include trans(0.3s);
                    &:last-child { transform: rotate(135deg); @include trans(0.3s); }
                }
            }
            
        }
        &:focus {outline: 0; box-shadow: none;}
    } 
    &-lang { margin-top: 6px;
        a, span {font-size: 16px;color: #fff;}
        a {
            &:hover,, &:focus {color: #fff;}
        }
        * {margin: 0 6px; white-space: nowrap;
            &:first-child { margin-left: 0; }
            &:last-child { margin-right: 0; }
        }
    }
    &-phn {text-align: center; margin-top: 5px;
        a {color: #fff; font-weight: 500;}
    }
    &-right {float: right; margin-top: 7px;}
    &-srch{width: 20px;height: 20px;display: inline-block;background: url('../img/search.svg'); background-size: 100% auto;border: none; cursor: pointer;margin-right: 20px;
        &:focus {outline:0; box-shadow:none;}
        &.opened { background: none!important; 
            &:before { content: 'X'; color: #fff; }
        }
    }    
    &-user{width: 22px;height: 20px;display: inline-block;background: url('../img/user.svg'); background-size: 100% auto;margin-left: 20px; border: 0;cursor: pointer;
        &:focus {outline:0; box-shadow:none;}
        &.opened { background: none!important; 
            &:before { content: 'X'; color: #fff; }
        }
    }
}
header {
    &.color-black {
        .h{
            &-logo {color: #000; 
                &:hover, &:focus {color: #000;}
            }
            &-btn {
                span { background: #000;} 
            } 
            &-lang { 
                a, span {color: #000;}
                a {
                    &:hover, &:focus {color: #000;}
                }
            }
            &-phn {
                a {color: #000; }
            }
            &-srch{background: url('../img/search_black.svg');background-size: 100% auto; }    
            &-user{background: url('../img/user_black.svg'); background-size: 100% auto;}     
        }
    }
    &.abs {position: absolute;}
    &.color-white {
        .h{
            &-logo {color: #fff; 
                &:hover, &:focus {color: #fff;}
            }
            &-btn {
                span { background: #fff;} 
            } 
            &-lang { 
                a, span {color: #fff;}
                a {
                    &:hover, &:focus {color: #fff;}
                }
            }
            &-phn {
                a {color: #fff; }
            }
            &-srch{background: url('../img/search.svg'); background-size: 100% auto;}    
            &-user{background: url('../img/user.svg'); background-size: 100% auto;}     
        }
    }    
}
/*header*/
@media(max-width: 1600px) and (min-width: 1200px){
    header {padding: 48px 40px;}
}

@media(max-width: 991px) and (min-width: 768px){

}
@media(max-width: 767px) {
    header{padding: 22px 7px; z-index: 200; 
        &>* {display: none;}
        .h {
            &-mob {display: block;
                &-logo {font-family: 'Chakra Petch', sans-serif;font-size: 24px;font-weight: 700;color: #fff; 
                    &:hover, &:focus {color: #fff;text-decoration: none;}
                }
                &-btn { width: 64px; height: 8px; background: none; border: none; cursor: pointer; margin-top: 13px;float: right; position: relative;
                    span { display: block; background: #fff; height: 1px; margin: 4px 0; @include trans(0.3s); width: 100%;
                        &:first-child { margin-top: 0; } 
                        &:nth-child(2) { margin-bottom: 0; }
                        &.hlp { position: absolute; top: 0; opacity: 0; @include trans(0.3s); }
                    } 
                    &.opened {
                        span { width: 12px;  @include trans(0.3s);
                            &.hlp { right: 0; transform: rotate(45deg); opacity: 1; @include trans(0.3s);
                                &:last-child { transform: rotate(135deg); @include trans(0.3s); }
                            }
                        }

                    }
                    &:focus {outline: 0; box-shadow: none;}                    
                }  
                &-lang { float: left; width: 33px; position: relative;  display: none; margin-top: 5px;
                    button { width: 100%; background: none; border: none; color: #fff; padding: 0; text-align: left; } 
                    .h-lang-cont {background: #345e94; position: absolute; top: 24px; left: 0; display: none;
                        a, span {color: #fff; display: block;}
                        &.opened {display: block;}
                    }
                } 
            }
            &-cat { font-size: 20px; margin-top: 66px; }
        }
        &.color-black {
            .h {
                &-mob {
                    &-logo {color: #000;}
                    &-btn { 
                        span { background: #000;} 
                    } 
                    &-lang { 
                        button {color: #000; } 
                        .h-lang-cont { background: #fff; 
                            a, span { color: #000; }
                        }
                    }                         
                }
            }
        }   
        &.color-white {
            .h {
                &-mob {
                    &-logo {color: #fff;}
                    &-btn { 
                        span { background: #fff;} 
                    } 
                    &-lang { display: block;
                        button {color: #fff;background: url(../img/ar_dwn.png)no-repeat 100% 50%; } 
                        .h-lang-cont { background: #345e94; 
                            a, span { color: #fff; }
                        }
                    } 
                }
            }
        }    
    }
}


@import "_fix-menu";
@import "_fix-srch";
@import "_fix-auth";
@import "_index";
@import "_catalog";
@import "_news";
@import "_single_news";
@import "_services";
@import "_about"; 
@import "_about_vacancy2"; 
 

/*footer*/
footer { padding: 48px 35px; background: #345e94;} 
.f {
    &-menu { max-width: 1280px; margin: 0 auto; 
        ul { margin: 0; padding: 0; list-style: none; text-align: justify; -moz-text-align-last: justify; -webkit-text-align-last: justify; text-align-last: justify; 
            li { display: inline-block; vertical-align: top; 
                a { color: #fff; font-size: 20px; }
            } 
        } 
    } 
    &-sep {width: 100%;border-bottom: 1px solid #fff; opacity: 0.4; margin-top: 48px;}
    &-cont {margin: 48px auto 0;max-width: 1310px;} 
    &-ttl { font-size: 20px; color: #fff; margin-bottom: 61px; } 
    &-txt { margin-bottom: 37px; display: block; max-width: 242px; color: #fff; opacity: 0.5; 
        &:hover, &:focus { opacity: 1; text-decoration: none; color: #fff; }
    }
    &-data {margin-bottom: 25px; display: block; max-width: 242px; color: #fff; opacity: 0.5; 
        a {color: #fff;
            &:hover, &:focus {color: #fff;}
        }
    }
    &-links { text-align: right; 
        a { color: #fff; }
    }
    &-btm { text-align: justify; text-align: justify; -moz-text-align-last: justify; -webkit-text-align-last: justify; text-align-last: justify; margin-top: 48px; 
        a, span { display: inline-block; color: #fff; opacity: 0.5; 
            &>a {opacity: 1;}
        }
    } 
}

/*footer*/
@media(max-width: 991px) and (min-width: 768px){
    .footer {display: none;}
}
@media(max-width: 767px) {
    footer {}
    .f{
        &-btm {text-align: center; text-align: center; -moz-text-align-last: center; -webkit-text-align-last: center; text-align-last: center;}
        &-sep {display: none;
            &.mob {display: block;}
        }
        &-cont {display: none;}
        &-menu{
            ul { text-align: center; -moz-text-align-last: center; -webkit-text-align-last: center; text-align-last: center; 
                li {display: block; padding: 10px 0; 
                    a { font-size: 30px; text-align: center; display: block; width: 100%;color: #ffffff80;
                        &:hover, &:focus {color: #fff;text-decoration: none;}
                    }
                }
            }
        }
    }
    .hidden-xs {display: none!important;}
}


