@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:400,700');

@mixin shadow($shadow...) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
}


@mixin trans ($trans) {
	transition:$trans;
	-webkit-transition:$trans;
	-moz-transition:$trans;
	-o-transition:$trans;
	-ms-transition:$trans;
}

@mixin border-radius ($border-radius) {
	border-radius:$border-radius;
	-webkit-border-radius:$border-radius;
	-moz-border-radius:$border-radius;
	-o-border-radius:$border-radius;
	-ms-border-radius:$border-radius;
}

body {font-family: 'IBM Plex Sans', sans-serif; font-size: 16px;font-weight: 500;background: #fff;color:#000; min-height: 100vh;}

img { max-width: 100%; height:auto; }

@media(min-width: 1200px){
    .container {max-width: 1484px;}
}

.video-back {position: fixed; z-index: -1; width: 100%; height: 100%; left: 0; top: 0;}

/*header*/
header {position: fixed; top: 0; left: 0; width: 100%;padding: 48px 35px; z-index: 100;
    &.fixed {
        .h {
            &-btn {display: none!important;} 
            &-lang {display: none!important;}
            &-phn {display: none!important;}            
        }
    }
}
.h { 
    &-mob {display: none;}
    &-logo {font-family: 'Chakra Petch', sans-serif;font-size: 24px;font-weight: 700;color: #fff; 
        &:hover, &:focus {color: #fff;text-decoration: none;}
    }
    &-btn { width: 64px; height: 8px; background: none; border: none; cursor: pointer; margin-top: 13px;
        span { display: block; background: #fff; height: 1px; margin: 4px 0; 
            &:first-child { margin-top: 0; } 
            &:last-child { margin-bottom: 0; }
        } 
    } 
    &-lang { margin-top: 6px;
        a, span {font-size: 16px;color: #fff;}
        a {
            &:hover,, &:focus {color: #fff;}
        }
        * {margin: 0 6px; white-space: nowrap;
            &:first-child { margin-left: 0; }
            &:last-child { margin-right: 0; }
        }
    }
    &-phn {text-align: center; margin-top: 5px;
        a {color: #fff; font-weight: 500;}
    }
    &-right {float: right; margin-top: 7px;}
    &-srch{width: 20px;height: 20px;display: inline-block;background: url('../img/search.svg'); background-size: cover;border: none; cursor: pointer;margin-right: 20px;}    
    &-user{width: 22px;height: 20px;display: inline-block;background: url('../img/user.svg'); background-size: cover;margin-left: 20px;}
}
/*header*/
@media(max-width: 1600px) and (min-width: 1200px){
    header {padding: 48px 40px;}
}

@media(max-width: 991px) and (min-width: 768px){

}
@media(max-width: 767px) {
    header{padding: 22px 7px; z-index: 100; 
        &>* {display: none;}
        .h {
            &-mob {display: block;
                &-logo {font-family: 'Chakra Petch', sans-serif;font-size: 24px;font-weight: 700;color: #fff; 
                    &:hover, &:focus {color: #fff;text-decoration: none;}
                }
                &-btn { width: 64px; height: 8px; background: none; border: none; cursor: pointer; margin-top: 13px;float: right;
                    span { display: block; background: #fff; height: 1px; margin: 4px 0; 
                        &:first-child { margin-top: 0; } 
                        &:last-child { margin-bottom: 0; }
                    } 
                }             
            }
            &-cat { font-size: 20px; margin-top: 66px; }
        }
        &.color-black {
            .h {
                &-mob {
                    &-logo {color: #000;}
                    &-btn { 
                        span { background: #000;} 
                    } 
                }
            }
        }        
    }
}

/*main*/
.main {background: rgba(0,0,0,0.4); min-height: 100vh;padding-top: 132px; padding-bottom: 64px;
    &-cont {padding-top: 146px;padding-left: 100px;display: flex; justify-content: space-between; flex-direction: column;min-height: 100%;}
    &-ttl {font-size: 48px;line-height: 1.29;color: #fff;}
    &-cat {font-size: 30px;color: #fff;display: block; align-items: flex-end; padding: 27px 0px 31px;
        span {width: 17px;height: 17px;background: url('../img/main-cat.png');background-size: cover;display: inline-block;margin-left: 15px;}
        &:hover, &:focus {text-decoration: none; color: #fff; }
    }
    &-menu {margin-top: 146px;
        ul {padding: 0;margin: 0;list-style: none;
            li {height: 97px;
                a {display: block; width: 100%;height: 100%;color: #fff;background: rgba(52, 94, 148, 0); padding: 27px 126px 31px; font-size: 30px;
                    &:hover, &:focus {background: rgba(52, 94, 148, 0.7);text-decoration: none;}
                    sup { font-size: 16px; top: -17px; }
                }
            }
        }
    }
    &-controls { height: 24px; margin: 0 35px; margin-top: 232px; position: relative;
        .control {
            &-left { width: 14px; height: 26px; background: url(../img/main-arrs.png)no-repeat 0% 0%; position: absolute; left: 0; top: 0; }
            &-right { width: 14px; height: 26px; background: url(../img/main-arrs.png)no-repeat 100% 0%; position: absolute; right: 0; top: 0; }
            &-bottom {display: block;width: 14px;height: 9px;background: url(../img/main-arr_b.png)no-repeat 100% 0%; position: absolute;left: 0; right: 0; margin: 0 auto;bottom: 0;}
        }
    }
    &-mob {display: none;}
}
/*main*/
@media(max-width: 991px) and (min-width: 768px){
    .main{
        &-cont { padding-top: 60px;}
        &-menu { margin-top: 0; 
            ul li a { padding: 27px 98px 31px; }
        }
        &-controls { margin-top: 70px; } 
        &-cat { padding: 70px 0px; }
    }
}
@media(max-width: 767px) {
    .main { padding-top: 62px; padding-bottom: 22px; position: relative;
        &-cont { padding: 90px 7px 0; } 
        &-ttl { font-size: 30px; }
        &-controls { display: none; }
        &-cat { font-size: 20px; margin-top: 66px; padding: 0; }
        &-menu {margin-top: 74px;
            ul {
                li {height: auto; 
                    a {padding: 10px; font-size: 20px; opacity: 0.5;
                        sup { display: none; }
                    }
                }
            }
        }
        &-mob {position: absolute; bottom: 32px; right: 22px;display: block;
            &-srch{width: 20px;height: 20px;display: inline-block;background: url('../img/search.svg'); background-size: cover;border: none; cursor: pointer;margin-right: 20px;}    
            &-user{width: 22px;height: 20px;display: inline-block;background: url('../img/user.svg'); background-size: cover;margin-left: 20px;}
        }
    }
}

/*second*/
.second {background: rgba(0,0,0,0.4); 
    &-bl{border-bottom: 1px solid #fff;padding-bottom: 125px;
        &-ttl {font-size: 30px;line-height: 1.29;color: #fff; position: relative; height: 76px; overflow: hidden;
            &:after {content: '';display: block; width: 17px; height: 17px; position: absolute; top: 6px; right: 0; background: url('../img/plus.svg'); background-size: cover;}
        }
        &-txt {font-size: 16px;color: #fff;display: block; opacity: 0.5;margin-top: 45px;}
        &-ico {width: 17px;height: 17px;background: url('../img/main-cat.png');background-size: cover;display: block;margin-top: 90px;}
    }
    &-cont {padding-top: 107px;padding-left: 100px;padding-right: 128px;display: block;color: #fff;
        &:hover,&:focus {text-decoration: none;color: #fff; background: rgba(52, 94, 148, 0.7);
            .second-bl {border: 0;}    
        }
    }
    &-last {padding-top: 107px;padding-left: 100px;padding-right: 128px;text-align: center;
        &-bl {max-width: 43%; width: 100%; color: #fff; display: block; margin: 0 12px; float: left;
            &.last {float: right;}
            &-num {width: 100%;height: 66px;background: url('../img/num.svg')no-repeat;background-size: 100% auto; text-align: center;font-size: 32px;line-height: 1.66;}
            &-txt {font-size: 12px;margin-top: 32px;font-style: italic;}
        }
        &-btm{text-align: left; overflow: hidden;clear: both;
            &-cat {font-size: 30px;color: #fff; display: block; margin-top: 75px;float: left;
                span {width: 17px;height: 17px;background: url('../img/main-cat.png');background-size: cover;display: inline-block;margin-left: 15px;}
                &:hover, &:focus {text-decoration: none; color: #fff; }
            }
            &-ques {font-size: 30px;color: #fff; display: inline-block; margin-top: 75px; opacity: 0.7;float: right;
                &:hover, &:focus {text-decoration: none; color: #fff; }
            }
        }
    }
}
/*second*/
@media(max-width: 1199px) and (min-width: 992px){
    .second { 
        &-last { padding-left: 50px; padding-right: 50px; 
            &-btm {
                &-cat { font-size: 25px; } 
                &-ques { font-size: 25px; }
            }
        } 
    }
}
@media(max-width: 991px) and (min-width: 768px){
    .second { padding-bottom: 60px;}
}
@media(max-width: 767px) {
    .second { background: #345e94;
        &-cont { padding: 49px 7px 0; } 
        &-bl{
            &-ttl { padding-right: 55px; height: auto; width: 100%; } 
            &-txt { margin-top: 36px; float: left; width: 250px; } 
            &-ico { float: right; margin-top: 43px; }
        }
        &-last { padding: 32px 22px; 
            &-bl { margin: 0 4px; }
            &-btm {
                &-cat { margin-top: 55px; font-size: 20px; } 
                &-ques { margin-top: 55px; font-size: 20px; }
            }
        }
    }
}

/*third*/
.third {background: rgba(0,0,0,0.4); 
    &-cont {padding-top: 146px;padding-left: 100px;margin-top: 276px;}
    &-btm{text-align: left; overflow: hidden;clear: both;
        &-cat {font-size: 30px;color: #fff; display: block; margin-top: 75px;float: left;
            span {width: 17px;height: 17px;background: url('../img/main-cat.png');background-size: cover;display: inline-block;margin-left: 15px;}
            &:hover, &:focus {text-decoration: none; color: #fff; }
        }
        &-ques {font-size: 30px;color: #fff; display: inline-block; margin-top: 75px; opacity: 0.7;float: left; margin-left: 30px;
            &:hover, &:focus {text-decoration: none; color: #fff; }
        }
    }
    &-ttl {font-size: 48px;line-height: 1.29;color: #fff;}
    &-txt {font-size: 16px;color: #fff;display: block; opacity: 0.5;margin-top: 45px;}
    &-right {padding: 168px 128px;padding-right: 140px; background: rgba(52, 94, 148, 0.7); color: #fff; 
        &-bl {margin-bottom: 108px;
            &:last-child {margin-bottom: 0;}
        }
        &-ttl {line-height: 1.29;font-size: 30px;}
        &-txt {line-height: 1.46;font-size: 16px;opacity: 0.5;margin-top: 35px;}
    }
}
/*third*/
@media(max-width: 1199px) and (min-width: 992px){
    .third {
        &-right { padding: 70px 60px; } 
        &-cont { margin-top: 100px; }
        &-btm {
            &-cat { font-size: 25px; } 
            &-ques { font-size: 25px; } 
        }
    }
}
@media(max-width: 991px) and (min-width: 768px){
    .third{
        &-cont { margin: 0; margin-bottom: 60px; }
     }
}
@media(max-width: 767px) {
    .third { padding-top: 62px; position: relative;
        &-cont { padding: 90px 7px 0; margin: 0;} 
        &-ttl { font-size: 30px; }
        &-controls { display: none; }
        &-cat { font-size: 20px; margin-top: 66px; padding: 0; }
        &-menu {margin-top: 74px;
            ul {
                li {height: auto; 
                    a {padding: 10px; font-size: 20px; opacity: 0.5;
                        sup { display: none; }
                    }
                }
            }
        }
        &-mob {position: absolute; bottom: 32px; right: 22px;display: block;
            &-srch{width: 20px;height: 20px;display: inline-block;background: url('../img/search.svg'); background-size: cover;border: none; cursor: pointer;margin-right: 20px;}    
            &-user{width: 22px;height: 20px;display: inline-block;background: url('../img/user.svg'); background-size: cover;margin-left: 20px;}
        }
        &-right { padding: 56px 22px; margin: 0 -15px; margin-top: 35px; 
            &-bl { margin-bottom: 56px; }
        }
        &-btm {
            &-cat { margin-top: 55px; font-size: 20px; } 
            &-ques { margin-top: 55px; font-size: 20px; float: right;}
        }        
    }
}

/*fourth*/
.fourth {background: rgba(0,0,0,0.4); padding-bottom: 168px;padding-top: 184px;
    &-cont {padding-top: 90px;padding-left: 100px;padding-right: 128px;padding-bottom: 90px;
        &:hover {background: rgba(52, 94, 148, 0.7);}
    }
    &-bl{
        &-ttl {font-size: 30px;line-height: 1.29;color: #fff; position: relative; overflow: hidden; cursor: pointer;
            &:after {content: '';display: block; width: 17px; height: 17px; position: absolute; top: 6px; right: 0; background: url('../img/plus.svg'); background-size: cover;}
        }
        &-txt {font-size: 16px;color: #fff;display: block; opacity: 0.5;margin-top: 45px;}
        /*&.st {margin-top: 128px;}*/
        
    }    
    &-news{margin-top: 128px;
        &-ttl {font-size: 30px;line-height: 1.29;color: #fff; position: relative; overflow: hidden;}
        &-txt {font-size: 16px;color: #fff;display: block; opacity: 0.5;margin-top: 45px;}
        
    }   
    &-releaze { border-top: 1px solid #fff; padding-top: 30px; overflow: hidden; margin-top: 30px; color: #fff; 
        &-ttl { float: left; max-width: 76%; }
        &-date { float: right; width: 70px; }
    } 
    &-more { color: #fff; display: block; margin-top: 30px; opacity: 0.5; }
    &-text {height: auto; overflow: hidden;
        &.hidden {height: 0; margin-top: 0;}
    }
}
/*fourth*/
@media(max-width: 1199px) and (min-width: 992px){
    .fourth {padding: 0;
        &-cont { padding: 50px; }
    }
}
@media(max-width: 991px) and (min-width: 768px){
    .fourth { padding-top: 40px; padding-bottom: 40px;}
}
@media(max-width: 767px) {
    .fourth {padding: 60px 0;
        &-cont {padding: 28px 7px;}
    }
}

/*fifth*/
.fifth { background: #345e94; padding-top: 164px; padding-bottom: 84px; 
    &-cont { padding: 0 100px; } 
    &-bl { text-align: center; color: #fff; 
        &-ttl { font-size: 12px; font-style: italic; } 
        &-num { background: url('../img/num.svg'); background-size: cover; font-size: 30px; margin: 0 auto; margin-top: 25px; } 
        &.small {
            .fifth-bl-num { width: 170px; height: 59px;font-size: 30px;}
        }
        &.big {
            .fifth-bl-num { width: 518px; height: 180px;font-size: 64px;padding-top: 25px;margin-top: -5px;}
        }        
    } 
    &-sl { margin-top: 121px; 
        ul li { text-align: center; color: #fff; } 
        &-bl {max-width: 991px;display: block;margin: 0 auto;background: #224d83;padding: 61px 0;}
        &-ttl { display: block; } 
        &-txt { display: block; font-style: italic; line-height: 1.46; width: 100%; max-width: 374px; margin: 0 auto;} 
        &-quote { display: block; margin: 16px 0; }
        .lSAction { max-width: 991px; position: absolute; top: 50%; width: 100%; left: 0; right: 0; margin: 0 auto; 
            a { border: 1px solid #fff; width: 48px; height: 48px; border-radius: 50%; 
                &.lSPrev { left: 20px; 
                    &:before { content: '';width: 9px; height: 14px; background: url(../img/sl-arrs.png)no-repeat 0% 0%; display: block; margin: 16px auto; }
                } 
                &.lSNext { right: 20px;
                    &:before { content: '';width: 9px; height: 14px; background: url(../img/sl-arrs.png)no-repeat 100% 0%; display: block; margin: 16px auto; }
                }
            }
        }
    } 
} 
/*fifth*/
@media(max-width: 1199px) and (min-width: 992px){
    .fifth { 
        &-bl {margin: 0 auto; max-width: 151px; margin-bottom: 50px; position: relative;
            &-ttl { position: absolute; bottom: 0; bottom: -23px; width: 100%; }
            &-num {margin-top: 0;}
            &.small .fifth-bl-num { width: 100%; background-size: 100%; background-repeat: no-repeat; margin-bottom: 23px; } 
            &.big .fifth-bl-num { height: 59px; margin-bottom: 23px; padding: 0; width: 100%; background-size: 100%; background-repeat: no-repeat; font-size: 30px; }
        }
    }
}
@media(max-width: 991px) and (min-width: 768px){
    .fifth { padding-top: 138px; padding-bottom: 61px;
        &-cont { padding: 0 7px; } 
        &-bl {margin: 0 auto; max-width: 151px; margin-bottom: 50px; position: relative;
            &-ttl { position: absolute; bottom: 0; bottom: -23px; width: 100%; }
            &-num {margin-top: 0;}
            &.small .fifth-bl-num { width: 100%; background-size: 100%; background-repeat: no-repeat; margin-bottom: 23px; } 
            &.big .fifth-bl-num { height: 59px; margin-bottom: 23px; padding: 0; width: 100%; background-size: 100%; background-repeat: no-repeat; font-size: 30px; }
        }
        &-sl{ margin-top: 57px;
            &-txt { font-size: 13px; width: 79%; margin: 0 auto; }
            .lSAction { top: 65px; }
        }
    }
}
@media(max-width: 767px) {
    .fifth { padding-top: 138px; padding-bottom: 61px;
        &-cont { padding: 0 7px; } 
        &-bl {margin: 0 auto; max-width: 151px; margin-bottom: 50px; position: relative;
            &-ttl { position: absolute; bottom: 0; bottom: -23px; width: 100%; }
            &-num {margin-top: 0;}
            &.small .fifth-bl-num { width: 100%; background-size: 100%; background-repeat: no-repeat; margin-bottom: 23px; } 
            &.big .fifth-bl-num { height: 59px; margin-bottom: 23px; padding: 0; width: 100%; background-size: 100%; background-repeat: no-repeat; font-size: 30px; }
        }
        &-sl{ margin-top: 57px;
            &-txt { font-size: 13px; width: 79%; margin: 0 auto; }
            .lSAction { top: 65px; }
        }
    } 
}

/*partn*/
.partn { background: #fff; padding: 128px 0 69px; 
    &-ttl { font-size: 30px; text-align: center; } 
    &-sl { margin-top: 94px; 
        li { text-align: center; }
        .lSAction { max-width: 354px; position: relative; top: 0; width: 100%; left: 0; right: 0; margin: 0 auto; height: 48px; margin-top: 98px;
            a { border: 1px solid #345e9433; width: 48px; height: 48px; border-radius: 50%; top: 0; margin: 0; 
                &.lSPrev { left: 20px; 
                    &:before { content: '';width: 9px; height: 14px; background: url(../img/partn-arrs.png)no-repeat 0% 0%; display: block; margin: 16px auto; }
                } 
                &.lSNext { right: 20px;
                    &:before { content: '';width: 9px; height: 14px; background: url(../img/partn-arrs.png)no-repeat 100% 0%; display: block; margin: 16px auto; }
                }
            }
        } 
        .lSSlideOuter .lSPager.lSpg {    padding-top: 13px;
            & > li { padding: 0 10px;
                a { width: 1px; height: 12px; opacity: 0.3; background: #345e94; border: 0;}
                &:hover a, &.active a { opacity: 1; }
            }
        }
            

    }
    
}
/*partn*/
@media(max-width: 991px) and (min-width: 768px){

}
@media(max-width: 767px) {
    .partn {padding: 107px 0 71px;
        &-sl{
            .lSAction { margin-top: 40px;}
        }
    }
}

/*footer*/
footer { padding: 48px 35px; background: #345e94;} 
.f {
    &-menu { max-width: 1280px; margin: 0 auto; 
        ul { margin: 0; padding: 0; list-style: none; text-align: justify; -moz-text-align-last: justify; -webkit-text-align-last: justify; text-align-last: justify; 
            li { display: inline-block; vertical-align: top; 
                a { color: #fff; font-size: 20px; }
            } 
        } 
    } 
    &-sep {width: 100%;border-bottom: 1px solid #fff; opacity: 0.4; margin-top: 48px;}
    &-cont {margin: 48px auto 0;max-width: 1310px;} 
    &-ttl { font-size: 20px; color: #fff; margin-bottom: 61px; } 
    &-txt { margin-bottom: 37px; display: block; max-width: 242px; color: #fff; opacity: 0.5; 
        &:hover, &:focus { opacity: 1; text-decoration: none; color: #fff; }
    }
    &-data {margin-bottom: 25px; display: block; max-width: 242px; color: #fff; opacity: 0.5; 
        a {color: #fff;
            &:hover, &:focus {color: #fff;}
        }
    }
    &-links { text-align: right; 
        a { color: #fff; }
    }
    &-btm { text-align: justify; text-align: justify; -moz-text-align-last: justify; -webkit-text-align-last: justify; text-align-last: justify; margin-top: 48px; 
        a, span { display: inline-block; color: #fff; opacity: 0.5; 
            &>a {opacity: 1;}
        }
    } 
}

/*footer*/
@media(max-width: 991px) and (min-width: 768px){
    .footer {display: none;}
}
@media(max-width: 767px) {
    footer {}
    .f{
        &-btm {text-align: center; text-align: center; -moz-text-align-last: center; -webkit-text-align-last: center; text-align-last: center;}
        &-sep {display: none;
            &.mob {display: block;}
        }
        &-cont {display: none;}
        &-menu{
            ul { text-align: center; -moz-text-align-last: center; -webkit-text-align-last: center; text-align-last: center; 
                li {display: block; padding: 10px 0; 
                    a { font-size: 30px; text-align: center; display: block; width: 100%; }
                }
            }
        }
    }
    .hidden-xs {display: none!important;}
}


